.scrollbar {
    -GtkScrollbar-has-forward-stepper: 1;
    -GtkScrollbar-has-backward-stepper: 1;
    -GtkScrollbar-has-secondary-forward-stepper: 1;
    -GtkScrollbar-has-secondary-backward-stepper: 1;
}
